/* || FONTS */

/* Barlow 600 */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;700;800;900&display=swap');
/* Fraunces 700,900 */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');


/* || ROOT VARIABLES */
:root {
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --graphic-design-text-color: hsl(167, 40%, 24%);
    --photography-text-color: hsl(198, 62%, 26%);
    --footer-bg: rgb(143 212 198);
    --footer-color: rgb(49 120 102);

    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);

    --first-font: "Barlow", san-serif;
    --second-font: "Fraunces", san-serif;


    --item-padding-inline: min(10rem, 10vw);
    --transition: all 0.3s ease;
}

/* || RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: inherit;
}
picture{
    display: block;
}

img {
    display: block;
}

picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* || UTILITY CLASSES */



/* || GENERAL STYLES */

body{
    font-family: var(--first-font);
    display: flex;
    flex-flow: column nowrap;
    align-items: center; 

    min-height:100vh;
    position:relative;
}
main{
    flex-grow:1;
}

/* Header Section */

.header{
    position: absolute;
    top:0;
    left:0;
    z-index:1;
    width:100%;

    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;

    padding: 1.5em 2em;
}

.header__menu_btn{
    background: transparent;
    border: none;
}

.header__nav{
    display:none;
    color: var(--White);
}

.header__nav--active{
    flex-grow: 1;
    width:100%;
    background-color: var(--White);
    color: var(--Dark-grayish-blue);
    padding:2em;
    margin-top: 2em;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.8em;
}

.header__nav--active::before{
    position: absolute;
    content: "";
    display: block;
    top: -19px;
    right: 0;
    border: 10px solid var(--White);
    border-color: transparent var(--White) var(--White) transparent;
}
.header__contact_btn{
    font-family: var(--second-font);
    font-size:0.9em;
    text-transform: uppercase;

    border-radius:50px;
    padding: 0.95em 1.5em;

    color: var(--Very-dark-desaturated-blue);
    background-color: var(--White);

    transition: var(--transition);
}
.header__contact_btn:hover{
    background-color: #fff5;
    color: var(--White);
}

.header__nav--active .header__contact_btn{
    background-color: var(--Yellow);
    
}

/* Hero Section */
.hero{
    position: relative;
}
.hero__bg{
    height:600px;
}
.hero__bg img{
    object-position: bottom center;
}

.hero__overlay{
    position:absolute;
    left:50%;
    top:130px;
    transform: translateX(-50%);
    width:100%;
    padding:0.5em;

    display:flex;
    flex-direction: column;
    align-items: center;
    gap:2em;
}

.hero__title{
    font-family: var(--second-font);
    font-size:2.5em;
    font-weight: 900;

    text-transform: uppercase;
    text-align: center;

    letter-spacing: 0.1em;
    
    color: var(--White);
}

.hero__down_btn{
    background-color: transparent;
    border:none;
}

/* Tiles Section */

.tiles{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.tiles__item{
    width: 100%;
}


.tiles__text_container{
    padding:4em var(--item-padding-inline);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap:1.5em;

    text-align: center;
}

.tiles__text_container header{
    font-family: var(--second-font);
    font-size:2em;
    font-weight: 900;
    color: var(--Very-dark-desaturated-blue);
}

.tiles__text{
    color:var(--Dark-grayish-blue);
    line-height: 1.5em;
}

.tiles__learn_more_btn{
    font-family:var(--second-font);
    font-size:0.95em;
    font-weight: 900;
    color: var(--Very-dark-desaturated-blue);
    text-transform: uppercase;
    padding-inline: 0.3em;

    position: relative;
}

.tiles__learn_more_btn::before{
    content: "";
    display:block;

    width:100%;
    height: 0.6em;
    background-color: gray;
    border-radius: 50px;
    opacity: 0.6;

    position:absolute;
    bottom:-5%;
    left:0;
    z-index: -1;

    transition:var(--transition);
}

.tiles__learn_more_btn--yellow::before{
    background-color: var(--Yellow);
}
.tiles__learn_more_btn--red::before{
    background-color: var(--Soft-red);
}
.tiles__learn_more_btn:hover::before{
    opacity: 1;
}


.tiles__special_item{
    height:600px;
    position:relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.tiles__special_item--graphic-design{
    color: var(--graphic-design-text-color);
}
.tiles__special_item--photography{
    color: var(--photography-text-color);
}

.tiles__special_item picture{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index: -1;
}
.tiles__special_item picture img{
    object-fit: cover;
    object-position: center;
}


.tiles__special_text_container{
    text-align: center;
    margin-bottom: 3em;
    padding-inline:1em;
    color:inherit;

    display:flex;
    flex-direction: column;
    align-items: center;
    gap:1.5em;
}

.tiles__special_text_container header{
    font-family: var(--second-font);
    font-size:1.8em;
    font-weight: 900;

    text-transform: capitalize;
    color:inherit;
}
.tiles__special_text_container .tiles__text{
    color:inherit;
}


/* Testimonials Section */

.testimonials{
    display: flex;
    flex-direction:column;
    align-items: center;
    gap:4em;

    padding: 4em 2em;
   
}

.testimonials header{
    font-family: var(--second-font);
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.2em;

    color: var(--Grayish-blue);
}

.testimonials__items{
    display:flex;
    flex-direction:column;
    align-items: center;
    gap:4em;
    max-width: 1000px;
}
.testimonials__item{
    display:flex;
    flex-direction:column;
    align-items: center;
    gap:2em;
    
    text-align:center;
}

.testimonials__profile_pic{
    border-radius: 50%;
    height:4em;
}

.testimonials__text{
    font-weight: 600;
    font-size:1.05em;
    line-height: 1.6em;
    color: var(--Very-dark-grayish-blue);
}

.testimonials__author{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:0.5em;
}

.testimonials__name{
    font-family: var(--second-font);
    font-weight: 800;
    font-size:1.1em;
    color: var(--Very-dark-desaturated-blue);
}

.testimonials__designation{
    font-weight: 700;
    font-size:0.8em;
    color:var(--Grayish-blue);
}

/* Gallery Section */

.gallery{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}


/* Footer Section */

.footer{
    width:100%;
    background-color: var(--footer-bg);
    padding:3em 2em;

    display:flex;
    flex-direction: column;
    align-items: center;
    gap:2em;
}

.footer .home_logo svg path{
    fill:var(--footer-color);
}

.footer__links{
    display: flex;
    align-items: center;
    gap:3em;

    color:var(--footer-color);
}

.footer__links a:hover{
    transition:var(--transition);
    color:white;
}

.footer__socials{
    margin:3em 0;
    display: flex;
    align-items: center;
    gap:2em;
}

.footer__socials button{
    border:none;
    background-color:transparent;
}

.footer__socials button:hover svg path{
    fill:var(--White);
    transition:var(--transition);
}

/* || MEDIA QUERIES */

/* || SMALL */
@media screen and (min-width: 576px) {
    
}

/* || MEDIUM */
@media screen and (min-width: 600px){
    .header__menu_btn{
        display:none;   
    }
    .header__nav{
        display:flex;
        flex-direction:row;
        align-items: center;
        gap:min(2em , 4vw);

    }

    .tiles__item{
        display:flex;
    }
    .tiles__item--rev{
        flex-direction: row-reverse;
    }
    .tiles__item >*{
        flex-basis:50%;
    }

    .tiles__text_container{
        align-items: start;
        text-align: start;
    }


    .testimonials__items{
        flex-direction: row;
    }

    .gallery{
        grid-template-columns: repeat(4 , 1fr);
    }
}

/* || LARGE */
@media screen and (min-width: 992px){
    .hero__bg{
        height:700px;
    }
    .hero__overlay{
        gap:5em;  
    }
}

/* || XL */
@media screen and (min-width: 1200px){

}